body {
  font-size: #{$font_size}px;
  line-height: #{$font_size * 1.5}px;
  font-family: $font_content;
  margin: 0;
  padding: 0;
}

textarea, select, input[type="date"],
input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"],
input[type="number"], input[type="password"],
input[type="search"], input[type="tel"],
input[type="text"], input[type="time"],
input[type="url"], input[type="week"] {
  -webkit-box-sizing: border-box;

  -moz-box-sizing: border-box;

  box-sizing: border-box;

  -webkit-background-clip: padding;

  -moz-background-clip: padding;

  background-clip: padding-box;

  -webkit-border-radius: 0;

  -moz-border-radius: 0;

  -ms-border-radius: 0;

  -o-border-radius: 0;

  border-radius: 0;

  -webkit-appearance: none;

  background-color: $color_white;

  color: $color_black;

  outline: 0;

  margin: 0;

  padding: 0;

  text-align: left;

  font-size: 1em;

  height: 1em;

  vertical-align: middle;

  border: 1px solid;
}

%hx {
  font-family: $font_heading;
  text-transform: uppercase;
  font-weight: bold;
}

%h1 {
  @extend %hx;
  font-size: #{$font_size_h1}px;
  line-height: #{$line_height_h1}px;
  padding: 2rem 0 0;

  @include mobile-all() {
    font-size: #{$font_size_h1 * 0.65}px;
    line-height: #{$line_height_h1 * 0.65}px;
    padding: 1rem 0 0;
  }
}

%h2 {
  @extend %hx;
  font-size: #{$font_size_h2}px;
  line-height: #{$line_height_h2}px;
  padding: 1.5rem 0 0;

  @include mobile-all() {
    font-size: #{$font_size_h2 * 0.65}px;
    line-height: #{$line_height_h2 * 0.65}px;
    padding: 0.75rem 0 0;
  }
}

%h3 {
  @extend %hx;
  font-size: #{$font_size_h3}px;
  line-height: #{$line_height_h3}px;
  padding: 1rem 0 0;

  @include mobile-all() {
    font-size: #{$font_size_h3 * 0.65}px;
    line-height: #{$line_height_h3 * 0.65}px;
    padding: 0.5rem 0 0;
  }
}

%h4 {
  @extend %hx;
  font-size: #{$font_size_h4}px;
  line-height: #{$line_height_h4}px;
  padding: 0.5rem 0 0;

  @include mobile-all() {
    font-size: #{$font_size_h4 * 0.65}px;
    line-height: #{$line_height_h4 * 0.65}px;
    padding: 0.25rem 0 0;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  @extend %hx;
}

h1, .h1 {
  @extend %h1;
}

h2, .h2 {
  @extend %h2;
}

h3, .h3 {
  @extend %h3;
}

h4, .h4 {
  @extend %h4;
}

.preloader {
  opacity: 0;
}

a {
  color: $color_gray;

  &:hover {
    color: $color_orange;
  }
}

.icon {
  &.icon-sort {
    width: 24px;
    height: 24px;
  }
  &.icon-close {
    width: 20px;
    height: 20px;
  }
  &.icon-plus, &.icon-minus {
    width: 24px;
    height: 24px;
  }
  &.icon-soc {
    width: 24px;
    height: 24px;
  }
}

.button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0.5rem 0;
  color: $color_white;
  background-color: $color_gray;
  border: 1px solid $color_gray;
  text-align: center;
  text-decoration: none !important;
  @include transition(0.4s, ease-in-out);

  &:hover {
    color: $color_white;
    background-color: lighten($color_gray, 10%);
    border-color: lighten($color_gray, 10%);
  }

  &__primary {
    color: $color_white;
    background-color: $color_orange;
    border: 1px solid $color_orange;

    &:hover {
      background-color: lighten($color_orange, 10%);
      border-color: lighten($color_orange, 10%);
    }
  }

  &__outline {
    color: $color_gray;
    background-color: transparent;
    border: 1px solid $color_gray;

    &:hover {
      color: lighten($color_gray, 10%);
      background-color: transparent;
      border-color: lighten($color_gray, 10%);
    }

    &__primary {
      color: $color_orange;
      background-color: transparent;
      border: 1px solid $color_orange;

      &:hover {
        color: lighten($color_orange, 10%);
        background-color: transparent;
        border-color: lighten($color_orange, 10%);
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  width: calc(100% - #{$header_height});
  height: $header_height;
  //border-bottom: 1px solid $color_gray;
  background-color: $color_white;
  z-index: 10;
  @include transition(0.4s, ease);

  nav {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    @include mobile-all() {
      justify-content: flex-end;
    }
    @include tablet-portrait() {
      justify-content: flex-end;
    }

    .nav-bar {
      padding: 0;
      margin: 0;
      display: inline-flex;
      align-items: center;
      &__item {
        list-style: none !important;
        padding: 0.5rem 2rem;
        a {
          color: $color_black;
        }

        &:hover, &.active {
          a {
            color: $color_orange;
          }
        }
      }
    }

    .nav-cart {
      height: 100%;
      width: 160px;
      display: flex;
      align-items: center;
      //border-left: 1px solid $color_gray;
      background-color: darken($color_white, 5%);
      a {
        display: flex;
        padding: 0.5rem 1rem;
        color: $color_orange;
        text-decoration: none;
        width: 100%;
        justify-content: center;
      }

      &__total {
        padding: 0 8px;
      }
    }
  }
}

footer {
  padding: 3rem 2rem 2rem;
  background-color: darken($color_white, 5%);

  .nav {
    &__list {
      padding: 0;
      margin: 0;
      &__item {
        list-style: none;
        &__link {
          color: $color_gray;
          text-decoration: none !important;

          &:hover {
            color: $color_orange;
          }
        }
      }
    }
  }
}

main {
  margin-top: $header_height;
  min-height: calc(100vh - #{$header_height});
}

.page-wrapper {
  max-width: calc(100vw - #{$header_height});
  max-height: 100vh;
  margin-left: #{$header_height};
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  @include transition(0.4s, ease);
}

body {
  &.left-nav {

    header {
      @include descktop() {
        width: calc(100% - #{$aside_width});
      }
      @include mobile-all() {
        max-width: calc(100% - #{$header_height}) !important;
      }
      @include tablet-all() {
        max-width: calc(100% - #{$header_height}) !important;
      }
    }

    .page-wrapper {
      @include descktop() {
        margin-left: #{$aside_width};
        max-width: calc(100vw - #{$aside_width});
      }
      @include mobile-all() {
        margin-left: #{$header_height} !important;
        max-width: calc(100vw - #{$header_height}) !important;
      }
      @include tablet-all() {
        margin-left: #{$header_height} !important;
        max-width: calc(100vw - #{$header_height}) !important;
      }
    }
  }
}

.counter {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  &__btn {
    border: 1px solid $color_gray;
    width: 30px;
    height: 30px;
    padding: 14px 0;
    line-height: 0;
    text-align: center;
    text-decoration: none !important;
    color: $color_black;
    font-family: $font-family-monospace;

    &:hover, &:focus {
      color: $color_orange;
      border-color: $color_orange;
    }

    &.minus {
    }
    &.plus {
    }
  }
  &__inp {
    width: 40px;
    text-align: center !important;
    border: 1px solid $color_gray !important;
    border-right: none !important;
    border-left: none !important;
    height: 30px !important;
  }
  &__price {
    margin-left: 2rem;
    color: $color_orange;
    position: relative;
    font-size: 1.25rem;

    &:before {
      position: absolute;
      content: "×";
      left: -1rem;
    }
  }
}

.page-header {
  padding: 1rem 2rem;

  .breadcrumb {
    background-color: transparent;
    padding: 1rem 0;
  }
}

.page-slider {
  position: relative;
  &__list {
    &__item {
      position: relative;

      img {
        width: 100%;
        height: calc(100vh - #{$header_height});
        object-fit: cover;

        @include mobile-all() {
          height: calc(60vh - #{$header_height} + 60px);
        }
        @include tablet-portrait() {
          height: calc(60vh - #{$header_height} + 60px);
        }
      }

      &__label {
        position: absolute;
        bottom: 6rem;
        right: 3rem;
        padding: 2rem 4rem;
        font-weight: bold;
        text-transform: uppercase;
        background-color: rgba($color_white, 0.9);

        font-size: 24px;
        line-height: 36px;

        @include mobile-all() {
          height: 60px;
          position: relative;
          bottom: 0;
          right: 0;
          left: 0;
          width: 100%;
          padding: 1rem 2rem;

          font-size: 16px;
          line-height: 20px;
          text-align: center;
        }
      }

      @include mobile-all() {
        display: flex;
        flex-flow: column nowrap;
      }
    }
  }
  .lSPager {
    position: absolute;
    bottom: 2rem;
    left: 2rem;

    @include mobile-all() {
      bottom: calc(1rem + 60px);
      left: 1rem;
      right: 1rem;
    }
  }
}

.page-cards {
  &__filter {
    padding: 0rem 1rem;
    margin: 0rem 1rem;
    background-color: darken($color_white, 5%);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    @include mobile-all() {
      justify-content: flex-start;
      padding-bottom: 1rem;
      margin: 0;
    }
    @include tablet-all() {
      justify-content: flex-start;
      padding-bottom: 1rem;
      margin: 0;
    }

    > * {
      margin: 1rem;
      display: flex;
      align-items: center;
      .icon {
        margin: 0 0.5rem;
      }
      @include mobile-all() {
        margin: 1rem 0 0;
        width: 100%;
      }
      @include tablet-all() {
        margin: 1rem 0 0;
        width: 100%;
      }
    }

    &__title {
      padding: 0.5rem 0;
      cursor: pointer;
      order: 1;
      .icon {
        margin: 0 0.5rem 0 0;
      }
      .icon-minus {
        display: none;
      }
    }
    &__sort {
      cursor: pointer;
      order: 2;

      @include mobile-all() {
        display: none;
      }
      @include tablet-all() {
        display: none;
      }
    }
    &__clear {
      @extend .button;
      @extend .button__outline;
      order: 4;
      justify-content: center;
      margin: 1rem !important;

      .btn_label {
        //position: relative;
        //top: -2px;
      }
      .icon {
        margin: 0 0.5rem 0 0;
      }
    }
    &__dropdown {
      order: 3;
      display: flex;
      flex-flow: row wrap;

      @include mobile-all() {
        justify-content: flex-start;
      }
      @include tablet-all() {
        justify-content: flex-start;
      }

      &__item {
        @extend .button;
        @extend .button__outline;
        display: none;
        margin: 0.5rem !important;
        padding: 0.5rem 1rem;
        border: 1px solid $color_gray;
        align-items: center;

        .item-label {
          //position: relative;
          //top: -2px;
        }

        .icon {
          margin: 0 0 0 0.5rem;
        }

        &.is-active {
          @extend .button__outline__primary;
          display: flex;
          border-color: $color_orange;
          color: $color_orange;
        }
      }

      &__apply {
        @extend .button;
        @extend .button__primary;
        display: none;

        @include mobile-all() {
          width: 100%;
          margin-top: 0.25rem;
          margin-right: 0;
        }
        @include tablet-all() {
          width: 100%;
          margin-top: 0.25rem;
          margin-right: 0;
        }
      }
    }

    &.collapsed &__title {
      .icon-minus {
        display: inline-block;
      }
      .icon-plus {
        display: none;
      }
    }
    &.collapsed &__clear {
      order: 3;

      @include mobile-all() {
        order: 4;
      }
      @include tablet-all() {
        order: 4;
      }
    }
    &.collapsed &__dropdown {
      order: 4;
      width: 100%;

      @include mobile-all() {
        order: 3;
      }
      @include tablet-all() {
        order: 3;
      }

      &__item {
        display: flex;

        .icon {
          display: none;
        }
        &.is-active .icon {
          display: inline;
        }
      }
      &__apply {
        display: inline-block;
        margin: 0.5rem;
      }
    }
  }
  &__content {
    position: relative;

    .row {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
      padding: 1rem;
    }

    .card {
      margin-bottom: 2rem;

      @include mobile-all() {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 0.5rem;

        & > a {
          width: 50%;
        }
        .card-body {
          width: 50%;
        }
        .card-footer {
          width: 100%;
        }
      }
      @include mobile-portrait() {
        .card-body {
          padding: 0.5rem 0.75rem;

          .card-title {
            font-size: 16px;
          }
          .card-text {
            font-size: 12px;
          }
        }
        .card-footer {
          padding: 0.5rem 0.75rem;
        }
      }
      @include mobile-landscape() {
        .card-img-top {
          max-height: 45vh;
          object-fit: cover;
        }
      }

      &.active {
        border: 2px solid $color_orange;
      }
    }

    .card-footer {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
    }

    &__dish {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start !important;
      border: 1px solid $color_gray;
      border-right: none;
      border-left: none;
      padding: 1rem;
      margin: 1rem 0;
      background-color: $color_white;

      @include mobile-all() {
        padding: 1rem 0 !important;
      }
      @include tablet-all() {
        padding: 1rem 0 !important;
      }

      &__preview {
        padding: 0 1rem 0 0;
        height: 100%;
        max-height: 100vh;
        position: relative;

        @include mobile-all() {
          padding: 0 !important;
        }
        @include tablet-portrait() {
          padding: 0 !important;
        }
        @include tablet-landscape() {
          padding: 0 1rem 0 0;
        }

        .list {
          max-height: 100vh;

          &__item {
            max-height: 100vh;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        .close {
          color: $color_orange;
          display: none;
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;

          @include mobile-all() {
            display: block;
          }
          @include tablet-portrait() {
            display: block;
          }

          .icon {
            width: 36px;
            height: 36px;
          }
          &:hover {
            color: lighten($color_orange, 10%);
          }
        }

        .lSPager {
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          right: 1rem;

          @include mobile-all() {
            bottom: 1.25rem;
          }
          @include tablet-all() {
            bottom: 1.25rem;
          }
        }
      }
      &__info {
        height: 100%;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        @include mobile-all() {
          margin-top: 1rem;
        }
        @include tablet-portrait() {
          margin-top: 1rem;
        }

        .header {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: flex-start;

          @include mobile-all() {
            align-items: center;
          }
          @include tablet-all() {
            align-items: center;
          }

          &__title {
            @extend .h2;
            padding: 0 !important;
          }
          &__close {
            color: $color_orange;

            @include mobile-all() {
              display: none;
            }
            @include tablet-portrait() {
              display: none;
            }

            .icon {
              width: 36px;
              height: 36px;

              @include mobile-all() {
                width: 24px;
                height: 24px;
              }
              @include tablet-all() {
                width: 24px;
                height: 24px;
              }
            }
            &:hover {
              color: lighten($color_orange, 10%);
            }
          }
        }

        .info {
          margin: 0.5rem 0;

          &__options {
            margin: 0.5rem 0 1rem;
          }
          &__counter {
            margin: 0.5rem 0 1rem;
            justify-content: flex-start;
          }
          &__desc {
            .spec {
              @extend .button;
              @extend .button__outline;
              display: inline-block;
            }
          }
        }

        .share {
          margin: 0.5rem 0;
          display: flex;

          &__title {
            @extend .h3;
            padding: 0;
            margin-right: 1rem;
          }
          &__list {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;

            &__item {
              margin: 0 0.6rem;
            }
          }
        }

        .more {
          width: 100%;
          height: 50%;
          padding: 0;
          position: relative;

          .more__list {
            &__item {
              max-width: 30%;
              .card {
                //max-height: calc(50vh - 2rem);
              }
            }
          }
          .lSPager {
            position: relative;
            margin-top: 1rem !important;

            @media screen and (min-width: 1480px) {
              position: absolute;
              top: 1rem;
              right: 0;
              margin-top: 0.5rem !important;
            }
            @include mobile-all() {
              position: relative;
              margin-top: 1rem !important;
            }
            @include tablet-all() {
              position: relative;
              margin-top: 1rem !important;
            }
          }
          .lSSlideOuter {
            @include mobile-all() {
              padding-bottom: 1rem;
            }
            @include tablet-all() {
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }
  &__navigation {
    padding: 0 1rem 3rem;

    a {
      color: $color_gray;

      &:hover {
        color: $color_orange;
      }
    }
  }
}

.page-articles {
  &__menu {
    &__list {
      display: flex;
      flex-flow: row wrap;
      padding: 0 1rem;
      &__item {
        list-style: none;
        > * {
          @extend .button;
          @extend .button__outline;
        }
      }
    }
  }
  &__content {
    position: relative;

    .row {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-around;
      padding: 1rem;
    }

    .card {
      margin-bottom: 2rem;

      @include mobile-all() {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 0.5rem;

        & > a {
          width: 50%;
        }
        .card-body {
          width: 50%;
        }
        .card-footer {
          width: 100%;
        }
      }
      @include mobile-portrait() {
        .card-body {
          padding: 0.5rem 0.75rem;

          .card-title {
            font-size: 16px;
          }
          .card-text {
            font-size: 12px;
          }
        }
        .card-footer {
          padding: 0.5rem 0.75rem;
        }
      }
      @include mobile-landscape() {
        .card-img-top {
          max-height: 45vh;
          object-fit: cover;
        }
      }

      &.active {
        border: 2px solid $color_orange;
      }
    }

    .card-footer {
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: space-between;
    }

    &__dish {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start !important;
      border: 1px solid $color_gray;
      border-right: none;
      border-left: none;
      padding: 1rem;
      margin: 1rem 0;
      background-color: $color_white;

      @include mobile-all() {
        padding: 1rem 0 !important;
      }
      @include tablet-all() {
        padding: 1rem 0 !important;
      }

      &__preview {
        padding: 0 1rem 0 0;
        height: 100%;
        max-height: 100vh;
        position: relative;

        @include mobile-all() {
          padding: 0 !important;
        }
        @include tablet-portrait() {
          padding: 0 !important;
        }
        @include tablet-landscape() {
          padding: 0 1rem 0 0;
        }

        .list {
          max-height: 100vh;

          &__item {
            max-height: 100vh;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        .close {
          color: $color_orange;
          display: none;
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;

          @include mobile-all() {
            display: block;
          }
          @include tablet-portrait() {
            display: block;
          }

          .icon {
            width: 36px;
            height: 36px;
          }
          &:hover {
            color: lighten($color_orange, 10%);
          }
        }

        .lSPager {
          position: absolute;
          bottom: 1rem;
          left: 1rem;
          right: 1rem;

          @include mobile-all() {
            bottom: 1.25rem;
          }
          @include tablet-all() {
            bottom: 1.25rem;
          }
        }
      }
      &__info {
        height: 100%;
        padding: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;

        @include mobile-all() {
          margin-top: 1rem;
        }
        @include tablet-portrait() {
          margin-top: 1rem;
        }

        .header {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          align-items: flex-start;

          @include mobile-all() {
            align-items: center;
          }
          @include tablet-all() {
            align-items: center;
          }

          &__title {
            @extend .h2;
            padding: 0 !important;
          }
          &__close {
            color: $color_orange;

            @include mobile-all() {
              display: none;
            }
            @include tablet-portrait() {
              display: none;
            }

            .icon {
              width: 36px;
              height: 36px;

              @include mobile-all() {
                width: 24px;
                height: 24px;
              }
              @include tablet-all() {
                width: 24px;
                height: 24px;
              }
            }
            &:hover {
              color: lighten($color_orange, 10%);
            }
          }
        }

        .info {
          margin: 0.5rem 0;

          &__options {
            margin: 0.5rem 0 1rem;
          }
          &__counter {
            margin: 0.5rem 0 1rem;
            justify-content: flex-start;
          }
          &__desc {
            .spec {
              @extend .button;
              @extend .button__outline;
              display: inline-block;
            }
          }
        }

        .share {
          margin: 0.5rem 0;
          display: flex;

          &__title {
            @extend .h3;
            padding: 0;
            margin-right: 1rem;
          }
          &__list {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;

            &__item {
              margin: 0 0.6rem;
            }
          }
        }

        .more {
          width: 100%;
          height: 50%;
          padding: 0;
          position: relative;

          .more__list {
            &__item {
              max-width: 30%;
              .card {
                //max-height: calc(50vh - 2rem);
              }
            }
          }
          .lSPager {
            position: relative;
            margin-top: 1rem !important;

            @media screen and (min-width: 1480px) {
              position: absolute;
              top: 1rem;
              right: 0;
              margin-top: 0.5rem !important;
            }
            @include mobile-all() {
              position: relative;
              margin-top: 1rem !important;
            }
            @include tablet-all() {
              position: relative;
              margin-top: 1rem !important;
            }
          }
          .lSSlideOuter {
            @include mobile-all() {
              padding-bottom: 1rem;
            }
            @include tablet-all() {
              padding-bottom: 1rem;
            }
          }
        }
      }
    }
  }
  &__navigation {
    padding: 0 1rem 3rem;

    a {
      color: $color_gray;

      &:hover {
        color: $color_orange;
      }
    }
  }
}

//   MAP

.map {
  position: relative;

  .contact-menu {
    position: absolute;
    width: $aside_width;
    background-color: darken($color_white, 5%);
    z-index: 1;
    overflow: hidden;

    top: 1rem;
    left: 5rem;
    height: #{$switcher_height};

    .flying-nav {
      &__switcher {
        display: flex;
        border-color: transparent;
      }
      &__title {
        .text {
          display: block;
        }
        .close {
          display: block;
        }
      }
      &__lists {
        display: none;
        max-height: #{$contact_form_height - $switcher_height};
        height: #{$contact_form_height - $switcher_height};

        &__list {
          max-height: #{$contact_form_height - $switcher_height};
          height: #{$contact_form_height - $switcher_height};
        }
      }
    }

    &.on-show {
      bottom: 1rem;
      height: auto;

      .flying-nav {
        &__switcher {
          border-color: $color_gray;
        }
        &__lists {
          display: flex;
        }
      }

      @include mobile-all() {
        bottom: 0 !important;
      }
    }

    .submenu {
      padding: 20px 30px;

      li {
        list-style: none;
        margin-bottom: 1rem;
      }
      h4 {
        font-size: 16px;
        padding: 0;
        margin: 0;
        color: #000;
      }
      a {
        h4 {
          text-decoration: underline;
          line-height: 1.2;

          &:hover {
            color: $color_orange;
          }
        }
      }
      p {
        margin-bottom: 0;
      }
    }

    form {
      .form-group {
        position: relative;
        p {
          margin-bottom: 0.25rem;
        }
      }
      textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
        padding: 5px 10px;
        height: auto;
      }
      input[type="checkbox"] {
        margin-right: 0.5rem;

        & + .invalid-feedback {
          position: absolute;
          bottom: -1.5rem;
          left: 0;
        }
      }

      textarea {
        resize: none;
        height: 60px;
        width: 100%;
      }
      .form-label {
        font-size: 12px;
        color: #888888;
        margin: 0;
        display: block;
        opacity: 1;
        -webkit-transition: .333s ease top, .333s ease opacity;
        transition: .333s ease top, .333s ease opacity;
      }
      .form-control {
        border-radius: 0;
        border-color: #888888;
        border-width: 0 0 2px 0;
        border-style: none none solid none;
        box-shadow: none;
      }
      .form-control:focus {
        box-shadow: none;
        border-color: #000;
      }
      .js-hide-label {
        opacity: 0;
      }
      .js-unhighlight-label {
        color: #000;
      }
      .btn-start-order {
        border: 1px solid #000;
        border-radius: 3px;
        color: #000;
        font-size: 16px;
        line-height: inherit;
        margin: 1rem 0 2rem;
        padding: 10px 50px;
        text-transform: uppercase;
        transition: all 0.25s ease 0s;
      }
      .btn-start-order:hover, .btn-start-order:active, .btn-start-order:focus {
        border-color: #000;
        color: $color_orange;
      }
    }

    @include mobile-all() {
      top: 0 !important;
      left: 0 !important;
      right: 0 !important;
      width: 100% !important;

      background-color: rgba(darken($color_white, 5%), 0.8);
    }
  }

  .map-container {
    width: calc(100% - 2rem);
    margin: 0 1rem;
    min-height: $contact_form_height;
    position: relative;

    > * {
      min-width: 100%;
      width: 100% !important;
    }

    @include mobile-all() {
      width: 100% !important;
      margin: 0;
    }
  }
}